h1 {
  color: pink;
  font-size: 300%;
  text-indent: 15px;
}

p {
  font-family: monaco;
  text-indent: 20px;
  margin-left: 15px;
  line-height: 1.5;
}

#content {
  border: dashed 5px #48D1CC;
  background-color: #FFFAF0;
  padding: 10px;
  margin: 10px;
}
 
