body {
  background-color: #ffdac9;
}

h1 {
  color: #f58d2c;
  font-size: 300%;
  font-family: geneva;
  text-indent: 10px;
  padding: 5px;
}

#content {
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

h2 {
  font-size: 200%;
  font-family: geneva;
  color: #d14366;
}

p {
  font-size: 20px;
  font-family: geneva;
  color: #2b0b03;
}

.special1 {
  color: #72dbc1;
}

.special2 {
  font-size: 30px;
  text-align: right;

}

.special3 {
  padding: 70px;
  margin: 30px;
  border-top: dashed;
}
